<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1> About Page </h1>
    <hr/>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home-page' %}"> Home </a>
                <a href="{% url 'about-page' %}"> About </a>
                <a href="{% url 'contact-page' %}"> Contact </a>
            </li>
        </ul>
    </nav>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt deleniti quia doloribus saepe magni. Nobis doloribus dignissimos, adipisci, harum optio reiciendis, itaque deleniti magnam aliquam in natus necessitatibus commodi vel aliquid odio quae corrupti est totam voluptatibus voluptas ratione explicabo qui neque? Tempore dolore aperiam quod laboriosam consequatur sequi blanditiis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt deleniti quia doloribus saepe magni. Nobis doloribus dignissimos, adipisci, harum optio reiciendis, itaque deleniti magnam aliquam in natus necessitatibus commodi vel aliquid odio quae corrupti est totam voluptatibus voluptas ratione explicabo qui neque? Tempore dolore aperiam quod laboriosam consequatur sequi blanditiis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt deleniti quia doloribus saepe magni. Nobis doloribus dignissimos, adipisci, harum optio reiciendis, itaque deleniti magnam aliquam in natus necessitatibus commodi vel aliquid odio quae corrupti est totam voluptatibus voluptas ratione explicabo qui neque? Tempore dolore aperiam quod laboriosam consequatur sequi blanditiis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt deleniti quia doloribus saepe magni. Nobis doloribus dignissimos, adipisci, harum optio reiciendis, itaque deleniti magnam aliquam in natus necessitatibus commodi vel aliquid odio quae corrupti est totam voluptatibus voluptas ratione explicabo qui neque? Tempore dolore aperiam quod laboriosam consequatur sequi blanditiis.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt deleniti quia doloribus saepe magni. Nobis doloribus dignissimos, adipisci, harum optio reiciendis, itaque deleniti magnam aliquam in natus necessitatibus commodi vel aliquid odio quae corrupti est totam voluptatibus voluptas ratione explicabo qui neque? Tempore dolore aperiam quod laboriosam consequatur sequi blanditiis.</p>
</body>
</html>