{% extends 'tasks/base.html' %}

{% block title %} Project List {% endblock %}

{% block content %}

<div style="margin: 24px; font-size: 24px;">
    <h1> {{ request.tenant.name }}'s Projects </h1>
    {% if projects %}
        <p> Total Projects Found: <strong> {{projects|length}}</strong></p>
        {% for project in projects %}
            <p style="color: #1657a4;"> {{ project.title }} </p>
        {% endfor %}   
    {% else %}
        <p> No projects found.</p>
    {% endif %}
</div>
{% endblock %}